// Color Variables
$black: #000000;
$black-2: #0F0D23;
$black-3: #030014;
$black-4: #221F3D;
$black-5: #121212;

$dark-gray-1: #A8B5DB;
$dark-gray-2: #9CA4AB;

$dark-gray-opacity-1: #CECEFB1A;
$dark-gray-opacity-2: #CECEFB66;

$dark-purple-1: #AB8BFF;

$light-gray-opacity-1: #CECEFB05;

$light-purple-1: #D6C7FF;

$white: #FFFFFF;
