@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.popular-container {
    .movie-card {
        background-color: $black-2;
        width: 23.5%;

        .movie-title,
        .rating-txt {
            @include font-properties(16px, 'DM Sans', 700);
        }

        .sub-txt {
            color: $dark-gray-2;
            @include font-properties(16px, 'DM Sans', 500);
        }
    }
}